body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  text-align: center;
  position: relative;
}

.main-row {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.games-box, .lobby-box {
  flex: 1;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 700;
}

/* ROOM CODE            */

.room-box {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.room-box .label {
  font-weight: 700;
}

/* LOBBY              */

.lobby-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player-list {
  list-style: none;
  padding: 15px 20px;
  margin: 0;
  text-align: left;
  border: 1px solid black;
  min-width: 140px;
}

#player-list li {
  margin: 5px 0;
  font-size: 0.85rem;
}

/* GAME SELECTION        */

.games-box {
  max-width: 500px;
}

.game-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.game-card {
  border: 1px solid black;
  padding: 1px 3px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: 0.15s ease;
}

.game-card:hover {
  border-color: var(--color-blue);
  color: var(--color-blue);
}

.game-card.selected {
  background: var(--color-blue);
  color: white;
}

/* START BUTTON          */

.start-btn {
  margin-top: 10px;
  padding: 1px 3px;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  background: var(--color-black);
  color: var(--color-white);
  transition: 0.15s ease;
}

.start-btn:hover {
  background: var(--color-blue);
}

/* OPTIONS BOX */
.options-box {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-content {
  border: 1px solid black;
  padding: 15px 20px;
  min-width: 180px;
  text-align: left;
}

.option-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px;
  font-size: 0.85rem;
}

.option-row:last-child {
  margin-bottom: 0;
}

.option-row input {
  font-family: var(--font-main);
  border: 1px solid black;
  background: var(--color-white);
  padding: 2px 5px;
  width: 45px;
  text-align: center;
}

/* removing default arrows from number inputs for a cleaner look */
.option-row input::-webkit-outer-spin-button,
.option-row input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.option-row input[type=number] {
  -moz-appearance: textfield;
}

#connection-ui, #game-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}