body {
  /* Only keeping layout-specific rules for the home page */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.3rem;
  margin-bottom: 40px;
  font-weight: 700;
}

.button-container {
  display: flex;
  gap: 25px;
}

button {
  /* Overrides for the index page buttons specifically */
  font-size: 0.8rem;
  font-weight: 400;
  border: none; /* Delete this line if you want the global borders to show! */
}